@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap%27");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin: 10px;
    font-size: 20px;
}

h1 {
    margin:0px 0px 20px 0px;
    font-size: 36px;
    line-height: normal;
    text-align: center;
}

span {
    font-size: 24px;
    color: rgb(179, 18, 85);
    padding: 10px 0px;
}

span:hover, li:hover {
    font-size: 26px;
}

li {
    padding: 15px 0;
    color:rgb(179, 18, 85);
}

.wrapper {
    max-height: 100%;
    overflow: hidden;

}

.content {
    max-width: 1330px;
    margin: 0 auto;
    padding: 50px 15px;
}

.title {
    margin: 0px 0px 20px 0px;
    font-size: 30px;
    color:rgba(97, 197, 30, 0.829);
}

.font,
.animation,
.background {
    margin: 0px 0px 40px 0px;
}

.font__icons {
    width: 50%;
    margin: 0 0 20 0;
    padding: 0 0 0 30px;
    background-color:rgb(47, 47, 51);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: width 2s;
}

.font__icons:hover {
    width: 100%;
}

.animation__block {
    width: 100%;
    margin: 0 0 20 0;
    padding: 30px;
    background-color:rgb(47, 47, 51);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block__element {
    background-color:#FFF;
    height: 100px;
    width: 100px;
    margin-right: 5px;
    margin-left: 5px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    opacity: 0.7;
}

@keyframes skew {
    0% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
}

.background__image {
    width: 100%;
    height: 50vh;
    margin: 0 0 20px 0;
    background: url("../img/space.jpg") transparent no-repeat center center / cover;
}

.text {
    margin: 0 0 20px 0;
}

.text__image {
    margin: 0 0 20px 0;
    text-align: center;
}

.text__image img {
    max-width: 100%;
}

.cards {
    margin: 0 0 20px 0;
}

.cards__row {
    margin: 0 -15px 70px -15px;
    display: flex;
}

.cards__column {
    padding: 0px 15px;
    flex: 0 1 33.333%;
}

.cards__image {
    margin: 0 0 20px 0;
    padding: 0px 0px 58% 0px;
    overflow: hidden;
    position: relative;
}

.cards__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.items__item {
    flex: 0 1 33.333%;
    position: relative;
    min-height: 150px;   
}

.items__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.items__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px;
}

.items__label {
    font-size: 20px;
    font-weight: 700;
    display: inline;
    margin: 0 0 20px 0;
}